*{
   box-sizing: border-box;
   padding: 0;
}

body{
   margin: 0;
   padding: 0;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   padding: .5rem;
   background-color: grey;
   color: white;
}

#header-img{
   width: 3.5rem;
   height: auto;
   margin-left: 2rem;
}

.nav-link{
   margin: 0 1rem;
   padding: .2rem .4rem;
   border-radius: 6px;
   background-color: rgb(50, 50, 50);
   text-decoration: none;
   color: white;
   transition: all .3s ease-in-out;
}

.nav-link:hover{
   background-color: white;
   color: rgb(50, 50, 50);
}


iframe{
   width: 60vw;
   height: 40vw;
}

@media screen and (max-width:500px){

   .hamburger  {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1.25rem
   }

   header{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
   }

   #header-img{

      margin: .75rem;
      
   }

   .nav-bar{
      /* background-color: red; */
      width: 100%;
      opacity: 0;
      display: none;

      transition: all .5s ease-in-out;
   }

   .nav-bar a{
      /* position: absolute; */
      display: flex;
      /* width: 100vw; */
      /* height: 100px; */
      flex-direction: column;
      padding: 1.25rem 0;
      margin: 0;
      /* background-color:teal; */
      border-radius: 0;
      text-align: center;
   }

   .nav-bar.is-active{
      
      display: block;
      opacity: 1;

   }

}